@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
  /* overflow: scroll; */
  font-family: 'Inter', sans-serif;
  width: 97vw;
  padding-left: 2vw;
  height: 100vh;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
}
.tab {
  border: 1px solid black;
  padding: 5px;
}

.myNavbar {
  flex: 0 1 8%;
  display: flex;
}

.main {
  flex: 1 1 92%;
}

.react-calendar {
  border-radius: 20px;
  background-color: silver !important;
  padding: 10px;
  min-height: 315.83px;
  /* min-width: 50% !important; */
}

.react-calendar__month-view__weekdays {
  font-size: 0.6em !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chakra-text {
  cursor: pointer;
}
